body {
    display: flex;
    flex-direction: column;
    border-style:outset;
    border-width: 4px;
    border-color: lightgrey;
    background-image: url("https://imgur.com/vAQPKx6.jpg");
    min-height: 100vh;
}

.container-header {
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    align-items: flex-end;
    
}

.container-header div{
    padding: 14px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.container-header .box-1 {
    flex: 3;
    font-size: 24px;
    color:lightgrey;
}

.container-header .box-2 {
    flex: .5;
    text-align: center;
}

.container-header .box-3 {
    flex: .5;
    text-align: center;
}

.container-header .box-4 {
    flex: .5;
    text-align: center;
}

.container-header .box-5 {
    text-align: right;
    flex: 3;
    font-size: 24px;
}

.container-header a {
    text-decoration: none;
    color: grey;
}

.container-header a:hover {
    color:black;
}


article {
    flex-grow: 1;
    background-color: rgba (0,0,0,0);
}

iframe {
    margin: 0 auto;
    display: block;
}

.container-resume {
    padding: 10px 0 0 0;
}

.container-resume .resume {
    text-align: center;
}

.container-path {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
}

.container-path div {
    border: solid;
    padding: 10px;
}

.container-path .start {
    flex: 5;
    margin: 40px 75px 40px 50px;
}

.container-path .college {
    flex: 1;
    margin: 40px 50px 40px 75px;
}

.container-path .summer {
    flex: 1;
    margin: 40px 75px 40px 50px;
}

.container-path .winter {
    flex: 1;
    margin: 40px 50px 40px 75px;
}

.container-projects {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
}

.container-projects div {
    border: solid;
    padding: 10px;
}

.container-projects .project-1 {
    margin: 40px 75px 40px 50px;
    flex: 1;
}

.container-projects .project-2 {
    margin: 40px 50px 40px 75px;
}

.container-projects .project-3 {
    margin: 40px 75px 40px 50px;
}

.container-projects .project-4 {
    margin: 40px 50px 40px 75px;
}

.container-skills {

}

.skills {
    list-style-type: none;
    margin-left: -20px;
}

.skills li:before {
    content: '\2014';
}

.container-footer {
    display: flex;
    padding: 25px;
    margin: auto;
    position: relative;
}

.container-footer .box-1 {
    font-size: 11px;
    flex: 4;
}

.container-footer .box-1 {
    font-size: 11px;
    flex: 1;
}

.container-footer a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(26, 26, 142);
}

.container-footer a:visited {
    color: green;
}

.container-footer .box-1 .social {
    
}